.Banner {
    width: 100%;
    height: var(--banner-height);
}
.Banner__content {
    width: min(100%, 1200px);
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.Banner__content h1 {
    font-size: var(--banner-title-font-size);
    color: var(--text-color);
    text-align: center;
    font-weight: bolder;
    margin: 1rem 0.8rem;
}
.Banner__subtitle {
    font-size: var(--banner-font-size);
    color: var(--text-color-secondary);
    text-align: center;
    margin: 0 0.5rem;
}
.Banner__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 0;
}
.Banner__actions button {
    background: var(--primary-color);
    color: var(--default-text-color);
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 0 1rem;
    width: 150px;
}
.Banner__actions button:hover {
    background: var(--secondary-color);
}
