.ChatBot {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(780px, 100%);
    height: min(680px, 100%);
    color: white;
    padding: 2rem;
    z-index: 1000;
    display: flex;
    flex-direction: column; /* for vertical stacking */
    justify-content: center;
    align-items: center;
    background: var(--foreground);
    animation: fadeIn 0.5s ease-in-out;
    margin: 0;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px) translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: translateY(0) translate(-50%, -50%);
    }
}
.ChatBot h2 {
    font-size: var(--header-font-size);
    margin: 20px auto;
}

.Response {
    width: 100%;
    height: 80%;
    padding: 1.2rem;
    border-radius: 15px;
    border: 2px solid var(--border);
    overflow: auto;
    position: relative;
}
.Response p {
    margin: 10px 0;
    line-height: 1.5;
    animation: fadeInText 0.5s ease-in-out;
}
@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.InputArea {
    width: auto;
    height: auto;
    padding: 0.8rem;
    border-radius: 15px;
    margin: 10px auto;
    border: 2px solid var(--border);
    overflow: auto;
    cursor: pointer;
}

.InputArea input {
    width: 90%;
    cursor: pointer;
}

.InputText {
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.InputText input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 1rem;
}

.ButtonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.ButtonArea button {
    padding: 0.5rem;
    border-radius: 15px;
    margin: auto 15px;
    border: 2px solid var(--border);
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 150px;
}

.ButtonArea button:hover {
    background: #fff;
    color: var(--foreground);
}               